ul.nav-tabs {
    display: flex;
}

ul.nav-tabs>li {
    flex: 1;
    flex-grow: 1;
    text-align: center;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active:hover>a,
.nav-tabs>li:hover>a {
    background-color: #00463f;
    color: #fff;
}

.nav-tabs>li>a {
    border: none;
    color: #363463;
    background-color: #cccccc;
    height: 100%;
}